. {
    position: absolute;
    top: 50%;
    right: 30px;
    width: auto;
    height: auto;
    line-height: 100px;
    padding: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-right: -15px;
}